h1{
  font-family: 'Playfair Display';
}

h3{
  font-size: 24px !important;
  line-height: 1.2;
  margin: 27px 0 0;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
}

p{
  font-size: 15px;
  line-height: 1.75;
  margin: 18px 0 0;
  color: #777;
}


/* SINGLE TEMPLATE */
.single-template-2 .overlay{
  background-color: #ffffff88;
}

#content.single-template-2{
  margin-top: 0 !important;
}

.single-template-2 .header_img{
  height: 80vh;
}

.single-template-2 .post-title-section > h1{
  color: #333;
  font-weight: 900;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 75px;
}

.single-template-2 .author-info{
  color: #333;
  font-size: 12px;
  font-family: 'Playfair Display';
  text-transform: uppercase;
  font-weight: bold;
}
.single-template-2 .post-tags{ display: none; }
.single-template-2 #respond{
  border-top: 4px solid #1a1a1a;
}

blockquote{
  border-color: #006cff;
}
blockquote p{
  font-size: 18px;
  line-height: 1.75;
  margin: 18px 0 0;
}
blockquote p:first-child{ margin-top: 0; }
/* SINGLE TEMPLATE */
